@import 'def';
.table{
  display:table;
  width:100%;
}
.table-cell{
  display:table-cell;
  vertical-align:middle;
}
.border-top,
.border-bottom,
.border-left,
.border-right{
  position:relative;
}

.border-top:before,
.border-bottom:after{
  content: ' ';
  display: block;
  position:absolute;
  left:0;
  width:100%;
  height:1px;
  transform:scaleY(0.5);
  -webkit-transform:scaleY(0.5);
  background:#eee;
}
.border-top:before{
  top:0;
}
.border-bottom:after{
  bottom:0;
}
.border-left:before,
.border-right:after{
  content: ' ';
  display: block;
  position:absolute;
  top:0;
  height:100%;
  width:1px;
  transform:scaleX(0.5);
  -webkit-transform:scaleX(0.5);
  background:#eee;
}
.border-left:before{
  left: 0;
}
.border-right:after{
  right:0;
}
.clearfix{
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
/* 通用小按钮 */
.btn-small{
  display: inline-block;
  font-size: size(28);
  color: #fff;
  background: $color-primary;
  line-height: 1;
  padding:size(10) size(15);
  border-radius: size(8);
  &.transparent{
    background: rgba(0, 0, 0, 0);
    color: $color-primary;
    border: 1px solid $color-primary;
    padding:size(8) size(13);
  }
}
.btn-inline{
  display: inline-block;
  font-size: size(28);
  color: #666;
  border: 1px solid #e4e4e4;
  padding: size(16) size(32);
  border-radius: size((28 + 16 * 2) / 2);
  text-align: center;
}
.btn{
  display: block;
  background: $color-primary;
  color: #fff;
  font-size: size(32);
  text-align: center;
  line-height: 1;
  padding: size(30) 0;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .06);
  &:active{
    opacity: .8;
  }
}
.mask{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 99;
  &.transparent{
    background: rgba(0, 0, 0, 0);
  }
}
.mint-indicator-wrapper{
  z-index: 999;
}

// 左右渐变，右下角有个圆的样式
.top-spec-bg{
  background: linear-gradient(to right, #ef5456, #e70002);
  position: relative;
  overflow: hidden;
  &:after{
    content: ' ';
    display: block;
    position: absolute;
    @include circle(496);
    background-color: #ec3536;
    bottom: size(-366);
    right: size(-240);
  }
  >div{
    position: relative;
    z-index: 1;
  }
}