@import 'def';

/* common */
.cell-size {
  .mint-cell-wrapper {
    border-bottom: 1px solid #F2F2F2;
    font-size: size(28);
  }
}

/* myvip */
.cicle-img {
  border-radius: 50%;
}

.myvip {
  .mint-search {
    border-radius: size(44);
    height: auto;
    background: #F5F5F5;
    margin: 0 size(20);

    .mint-searchbar {
      background: #F5F5F5 !important;

      >.mint-searchbar-cancel {
        font-size: size(50) !important;
        color: #999 !important;
        border-radius: 50%;
      }

      .mint-searchbar-inner {
        background: #F5F5F5 !important;

        >.mintui-search:before {
          font-size: size(40);
        }

        >input {
          background: #F5F5F5;
        }
      }
    }
  }
}



/* myinfo */
.myinfo {
  .user {
    font-size: size(40);
    vertical-align: middle;
    margin-left: size(10);
  }

  .picker-toolbar {
    position: relative;

    >span {
      font-weight: bold;
      width: auto;
    }

    .mint-datetime-cancel {
      text-align: left;
      color: #919191;
      padding-left: size(30);

    }

    .mint-datetime-confirm {
      text-align: right;
      padding-right: size(30);
      color: #486EC0;
    }

    .center-title {
      color: #5A5A5A;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
